{% extends 'core/base.html' %} {% load static %} {% block title %}Lista de
prestamos{% endblock title %} {% block content %}
<div class="row px-4">
  <h2 class="d-flex justify-content-center pb-2">
    <i class="bi bi-clipboard-data pe-1"></i> Lista de prestamos
  </h2>
  <div class="input-group col">
    <input
      type="text"
      class="form-control"
      id="input_search"
      placeholder="Buscar producto"
      aria-describedby="btn_search"
      onkeyup="product_autocomplete()"
    />
    <button
      class="btn btn-outline-primary"
      type="button"
      id="btn_search"
      onclick="filtrar_producto_nombre()"
    >
      Buscar
    </button>
  </div>
  <div class="col">
    <select
      class="form-select"
      id="select_category"
      onchange="filter_loan()"
    >
      <option value="-1">Todos los prestamos</option>
      {% for loan_type in loan_type%}
        <option value="{{loan_type.id}}">{{loan_type.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="d-grid gap-2 col d-md-flex">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#loan-form-modal"
    >
      <i class="bi bi-clipboard-plus pe-1"></i> Nueva salida
    </button>
  </div>
</div>
<hr />

<div class="row px-4">
  <table class="table my-table table-hover text-center fst-italic">
    <thead class="fw-semibold">
      <tr>
        <th>Referencia</th>
        <th>Tipo prestamo</th>
        <th>Cliente</th>
        <th>Cantidad</th>
        <th>Registro</th>
      </tr>
    </thead>
    <tbody id="loan-table-list">
      {% for loan in object_list %}

      <tr
        id="tr-list-{{out.id}}"
        class="text-muted"
        onclick="loan_detail({{loan.id}})"
      >
        <th>{{loan.reference}}</th>
        <td>{{loan.loan_type}}</td>
        <td>{{loan.name_client}}</td>
        <td>{{loan.quantity}}</td>
        <td>{{loan.created_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'core/success.html' %} 
{% include 'loan/loan_form.html' %} 
{% include 'loan/loan_detail.html' %} 
{% endblock content %}
{%block js%}
<script src="{% static 'js/product_loan/functions.js' %} "></script>
<script src="{% static 'js/product_loan/components.js' %} "></script>
<script src="{% static 'js/product_loan/style.js' %} "></script>
<script src="{% static 'js/core/functions.js' %} "></script>
{%endblock %}
