<div class="modal fade" id="success-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                <h5 id='title-success'>Registro de nuevo proveedor</h5>
                <p id='content-success'>El nuevo proveedor ha sido registrado exitosamente</p>
            </div>
            <div class="modal-footer d-flex justify-content-center p-0">
                <button type="button" data-bs-dismiss="modal" class="btn btn-lg btn-link link-primary fs-6 text-decoration-none  m-0 rounded-0 " >
                    <strong>Continuar</strong>
                </button>
            </div>
        </div>
    </div>
</div>