<div class="modal fade" id="product-form-modal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Registrar nuevo producto</h5>
                <button type="button" class="btn-close" onclick="reset_form('product-form','producto','create_product')"></button>
            </div>
            <div class="modal-body">
                <form class="text-muted fst-italic text-center"  id="product-form" action="{% url 'product:product_create' %}" method="POST"  autocomplete="off"  >
                    {%csrf_token%}
                    <input type='hidden' name="action" value='{{action}}'>

                    <div class="form-floating mb-3 ">
                        <input type="text" class="form-control  " name='code' id="code" placeholder="Código de producto" onkeyup='mayus(code)'>
                        <label for="code" >Código de producto</label>
                        <div class="invalid-feedback" id="invalid-code"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control " name="name" id="name" placeholder="Nombre del producto">
                        <label for="name" >Nombre del producto</label>
                        <div class="invalid-feedback" id="invalid-name"></div>

                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" name="category"  id="category" aria-label="category select">
                            <option selected>Selecciona una categoría</option>
                            {% for category in categories%}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                            
                        </select>
                        <label for="category">Categoría</label>
                        <div class="invalid-feedback" id="invalid-category"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" id="description"  placeholder="Descripción de producto" style="height: 100px"></textarea>
                        <label for="description">Descripción</label>
                    </div>
                    <div class="hstack gap-3 col-7 mx-auto">
                        <button class="btn btn-primary" type="button" id='btn-save' onclick='create_product()'><i class="bi bi-bookmark-check"></i> Guardar</button>
                        <div class="vr"></div>
                        <button class="btn btn-danger" type="button" onclick="reset_form('product-form','producto','create_product')"><i class="bi bi-x-lg " ></i>Cancelar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>